<!DOCTYPE html>
<html lang="pt-br">
<%- include ('./parcials/head.ejs')%>
<body>
  <%- include ('./parcials/header.ejs')%>
  <%- include ('./parcials/perguntas-body.ejs')%>
</body>
<%- include ('./parcials/foot.ejs')%>
</html>