<%-include ('./parcials/head.ejs')%>
<%-include ('./parcials/header.ejs')%>
<body>
  <div class="container">
    <h2>Formulário enviado com sucesso!</h2>
  </div>
</body>
<%-include ('./parcials/foot.ejs')%>