<div class="pergunta">
  <h4>titulo</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque omnis alias cupiditate ipsa saepe ea, velit laborum voluptate ad rem enim. Accusamus, impedit! Molestias quaerat ipsum cupiditate. Cupiditate, sequi saepe.</p>
</div>